<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://www.freeiconspng.com/thumbs/website-icon/website-icon-11.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section class="container">
        <form action="api/shorturl" method="POST">
          <label for="url_input">URL</label>
          <input
            id="url_input"
            type="text"
            name="url"
            placeholder="https://www.freecodecamp.org/"
          />
          <input type="submit" value="POST URL" />
        </form>
      </section>
    </main>
    <footer>
      <p>
        by
        <a href="https://github.com/SouravM9">Sourav Mazumdar</a>
      </p>
    </footer>
  </body>
</html>
